/* Write CSS Here */
* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	
	background-color: rgb(233, 218, 197);
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("85071-OH5I2G-898.jpg");
	
}
.full {
	
	width: 70%;
	max-width: 1200px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 35px;
	display: grid;
	grid-template-columns: 2fr 4fr;
	border-style: groove;
}
.left {
	font-family: Arial;
	font-size: 16px;
	line-height: 1.8;
	position: initial;
	background-color: rgb(248, 183, 122);
	padding: 20px;
	border-style: groove;

}
.right {
	position: initial;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-style: groove;

}


.image, .Contact, .Skills, .Language, .Hobbies, .title, 
.Summary, .Experience, .Education, .courses, .publications {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(255, 255, 255);
}

ul{
	margin-left: 25px;
}